#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.emoji-display {
  font-size: 4em;
}

.category-items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.category-item {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s;
}

.category-item-selected {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s;
}