@use 'colors';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: colors.$background-color;

}

.card {
  padding: 2em;
}

.input-group {
  display: flex;
  padding: 50px 10px;
  justify-content: center;

  input {
    margin-right: 10px;
    background-color: colors.$secondary-color;
    padding: 12px 20px;
    border: 1px solid colors.$secondary-color;
    border-radius: 10px;
    font-size: 1.5em;
  }

  button {
    background-color: colors.$accent-color;
  }
}

.category-group {
  display: flex;
  justify-content: center;

  .category-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .category-item {
    padding: 12px 20px;
    cursor: pointer;
    background-color: colors.$secondary-color;
    color: colors.$text-color-light;
    border: 1px solid colors.$secondary-color;
    border-radius: 10px;
    transition: all 0.2s;
  }

  .category-item-selected {
    padding: 12px 20px;
    cursor: pointer;
    background-color: colors.$accent-color;
    color: colors.$text-color-light;
    border: 1px solid colors.$accent-color;
    border-radius: 10px;
    transition: all 0.2s;
  }
}

.emoji-group {
  .emoji-display {
    font-size: 4em;
  }
}