@use 'colors';

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: colors.$background-color;
}

.card {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 10px;

  input {
    background-color: colors.$secondary-color;
    border: 1px solid colors.$secondary-color;
    border-radius: 10px;
    flex-grow: 4;
    flex-shrink: 1;
    padding: 10px 12px;
  }

  button {
    background-color: colors.$accent-color;
    flex-grow: 1;
  }
}

.category-group {
  display: flex;
  justify-content: left;
  padding: 10px;

  .category-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .category-item {
    padding: 12px 20px;
    cursor: pointer;
    background-color: colors.$secondary-color;
    color: colors.$text-color-light;
    border: 1px solid colors.$secondary-color;
    border-radius: 10px;
    transition: all 0.2s;
  }

  .category-item-selected {
    padding: 12px 20px;
    cursor: pointer;
    background-color: colors.$accent-color;
    color: colors.$text-color-light;
    border: 1px solid colors.$accent-color;
    border-radius: 10px;
    transition: all 0.2s;
  }
}

.emoji-group {
  display: flex;
  padding: 10px;
  justify-content: center;

  .emoji-display {
    text-align: center;
    font-size: 4em;
    margin: 0px;
  }
}